{#-
    This file was copied from the original theme and updated
  -#}
  {% import "partials/language.html" as lang with context %}
  <footer class="md-footer">
    {% if page.previous_page or page.next_page %}
      <div class="md-footer-nav">
        <nav class="md-footer-nav__inner md-grid">
          {% if page.previous_page %}
            <a href="{{ page.previous_page.url | url }}" title="{{ page.previous_page.title | striptags }}" class="md-flex md-footer-nav__link md-footer-nav__link--prev" rel="prev">
              <div class="md-flex__cell md-flex__cell--shrink">
                <i class="md-icon md-icon--arrow-back md-footer-nav__button"></i>
              </div>
              <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
                <span class="md-flex__ellipsis">
                  <span class="md-footer-nav__direction">
                    {{ lang.t("footer.previous") }}
                  </span>
                  {{ page.previous_page.title }}
                </span>
              </div>
            </a>
          {% endif %}
          {% if page.next_page %}
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-flex md-footer-nav__link md-footer-nav__link--next" rel="next">
              <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
                <span class="md-flex__ellipsis">
                  <span class="md-footer-nav__direction">
                    {{ lang.t("footer.next") }}
                  </span>
                  {{ page.next_page.title }}
                </span>
              </div>
              <div class="md-flex__cell md-flex__cell--shrink">
                <i class="md-icon md-icon--arrow-forward md-footer-nav__button"></i>
              </div>
            </a>
          {% endif %}
        </nav>
      </div>
    {% endif %}
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <div class="md-footer-copyright">
          &copy; Hochschule für Musik Freiburg,
          Projekt <a href="https://glarean.mh-freiburg.de/goto_lehrplattform_cat_13436.html" title="»Digital Playgrounds – virtuelle und reale Orte zum Aufbau digital-musikalischer Kompetenzen«" target="_blank">DigiPlay</a> |
          <a href="mailto:glarean-anleitungen@mh-freiburg.de" title="E-Mail senden" target="_blank">Kontakt</a> |
          <a href="https://glarean.mh-freiburg.de/ilias.php?baseClass=ilImprintGUI">Impressum</a> |
          <a href="https://glarean.mh-freiburg.de" title="Startseite der Lehr- und Lernplattform" target="_blank">GLAREAN</a>
        </div>
        {% include "partials/social.html" %}
        <div class="md-source__icon">
          <svg viewBox="0 0 24 24" width="24" height="24">
            <use xlink:href="media/Gitea_Logo.svg" width="24" height="24"></use>
          </svg>
        </div>

      </div>
    </div>
  </footer>
